body { background: #3d0929; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 18px; display: flex; }
.block-logger-0 { color: #b5e99d; font-size: 13px; margin-bottom: 5px; }
.block-validator-1 { color: #4ef0bd; font-size: 21px; margin-bottom: 5px; }
.block-filter-2 { color: #57bea0; font-size: 19px; margin-bottom: 5px; }
.block-logger-3 { color: #3157c7; font-size: 12px; margin-bottom: 5px; }
.block-order-4 { color: #711fa4; font-size: 16px; margin-bottom: 5px; }